<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Книги</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
</head>
<body>
<#include "header/navigation.ftlh">
<h1>Книги</h1>
<table>
    <tr>
        <th>Название книги</th>
        <th>Содержание книги</th>
        <th>Дата издания</th>
        <td>Действия</td>
    </tr>
    <#list Books as book>
        <tr>
            <td>${book.title}</td>
            <td>${book.contents}</td>
            <td>${book.yearPublishing}</td>
            <td>
                <a href="/books/${book.id}">Перейти</a>
                <a href="/books/${book.id}/delete">Удалить</a>
            </td>
        </tr>
    </#list>
</table>
<form action="/books" method="post">
    <label>
        Название книги
        <input type="text" name="title" placeholder="Введите название">
    </label>
    <br>
    <label>
        Содержание книги
        <input type="text" name="contents" placeholder="Введите содержание">
    </label>
    <br>
    <label>
        Дата издания
        <input type="text" name="yearPublishing" placeholder="Введите дату">
    </label>
    <br>
    <input autofocus type="submit" value="Добавить"/>
</form>
</body>
</html>





