<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Секции</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
</head>
<body>
<#include "header/navigation.ftlh">
<h1>Секции</h1>
<table>
    <tr>
        <th>Название секции</th>
        <td>Действия</td>
    </tr>
    <#list sections as section>
        <tr>
            <td>${section.name}</td>
            <td>
                <a href="/sections/${section.id}">Перейти</a>
                <a href="/sections/${section.id}/delete">Удалить</a>
            </td>
        </tr>
    </#list>
</table>
<form action="/sections" method="post">
    <label>
        Название секции
        <input type="text" name="name" placeholder="Введите название">
    </label>
    <br>
    <input autofocus type="submit" value="Добавить"/>
</form>
</body>
</html>




